<div>
  <div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
      <div class="crms-title row bg-white">
        <div class="col p-0">
          <h3 class="page-title m-0">
            <span class="page-title-icon bg-gradient-primary text-white me-2">
              <i class="feather-grid"></i>
            </span>
            Order Requests
          </h3>
        </div>
        <div class="col p-0 text-end">
          <!-- <ul class="breadcrumb bg-white float-end m-0 ps-0 pe-0">
                                 <li class="breadcrumb-item"><a routerLink ="/dashboard">Dashboard</a></li>
                                 <li class="breadcrumb-item active">Category</li>
                             </ul> -->
        </div>
      </div>

      <!-- Page Header -->
      <div class="page-header pt-3 mb-0">
        <div class="row">
          <div class="col"></div>
          <div class="col text-end">
            <ul class="list-inline-item ps-0">
              <li class="list-inline-item">
                <button
                  hidden
                  class="add btn btn-gradient-primary font-weight-bold text-white todo-list-add-btn btn-rounded"
                  id="add-task"
                  data-bs-toggle="modal"
                  data-bs-target="#add_task"
                >
                  New Size
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Page Header -->

      <!-- Content Starts -->
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <ng2-smart-table
                  [settings]="settings"
                  [source]="data"
                  (custom)="onCustomAction($event)"
                ></ng2-smart-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Content End -->
    </div>
    <!-- /Page Content -->
  </div>

  <!-- Modal -->
  <div
    class="modal right fade"
    id="add_task"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <button
        type="button"
        class="close md-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Stock Details</h4>
          <button
            #cb
            id="cb"
            type="button"
            class="close xs-close"
            data-bs-dismiss="modal"
          >
            ×
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <table style="width: 100%">
                <tr>
                  <th>Sl.No</th>
                  <th>SKU</th>
                  <th>Quantity</th>
                  <th>size</th>
                  <th>color</th>
                  <th>Base Price</th>
                  <th>GST %</th>
                  <th>Disc %</th>
                  <th>Total Price</th>
                </tr>
                <tr *ngFor="let item of stocksInOrder; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.SKU }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.size }}</td>
                  <td>{{ item.color }}</td>
                  <td>{{ item.base_price }}</td>
                  <td>{{ item.gst_rate }}</td>
                  <td>{{ item.discount_percentage }}</td>
                  <td>{{ item.total_price }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->
</div>
